{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="dashboard-main-body">

      <div class="dash-title">Admin Edit</div>

        <div class="card border">
            <div class="card-body">
      
      
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

      
                <form method="POST" enctype="multipart/form-data" action="{% url 'editadmin' admin.id %}">
                    {% csrf_token %}
      
            <div class="row">
              <div class="col-md-6 col-sm-12">
           
                <div class="subtitle"> personal Details </div>
      
                    <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control radius-8" id="name" name="name"
                            placeholder="Name" style="width: 100%;" maxlength="20" required
                            value="{{ admin.name }}">
                      </div>
                    </div>
      
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <label for="email" class="form-label">E-Mail
                            Address</label>
                        <input type="email" class="form-control radius-8" id="email" name="email"
                            placeholder="email" style="width: 100%;" maxlength="30" required
                            value="{{ admin.email }}" readonly>
                      </div>
                    </div>
        
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Mobile</label>
                        <input type="number" class="form-control radius-8" id="mobile" name="mobile"
                            placeholder="number" style="width: 100%;"
                            oninput="if(this.value.length > 10) this.value = this.value.slice(0, 10);"
                            min="999999999" max="9999999999" required value="{{ admin.mobile }}">
                      </div>
                    </div>
                    <div class="col-sm-6 col-12">
                      <div class="form-group">
                        <label for="exampleFormControlInput1" class="form-label">Date Of
                            Birth</label>
                        <input type="date" value="{{ admin.dob }}" name="dob" class="form-control" id="exampleFormControlInput1"
                            placeholder="Select a date">
                    </div>
                  </div>
                    
                  <div class="col-sm-6 col-12">
                    <div class="form-group">
                        <label class="form-label">Pan Card</label>
                        <input type="text" class="form-control radius-8" id="pancard" name="pancard"
                            placeholder="pancard" style="width: 100%;" maxlength="20" required
                            value="{{ admin.pancard }}">
                      </div>
                </div>
                <div class="col-sm-6 col-12">
                  <div class="form-group">
                    <label class="form-label">Aadhar Card</label>
                    <input type="number" class="form-control radius-8" id="mobile" name="aadharCard"
                        placeholder="number" style="width: 100%;" required value="{{ admin.aadharCard }}">
                </div>
              </div>
      
      
                <div class="col-sm-6 col-12">
                  <div class="form-group">
                    <label class="form-label">MarkSheets</label>
                    <input type="text" class="form-control radius-8" id="pancard" name="marksheet"
                        placeholder="MarkSheets" style="width: 100%;" maxlength="20" required
                        value="{{ admin.pancard }}">
              </div>
            </div>
              
      
              <div class="col-sm-6 col-12">
                <div class="form-group">
                    <label class="form-label">Degree</label>
                    <input type="text" class="form-control radius-8" id="degree" name="degree"
                        placeholder="Degree" style="width: 100%;" maxlength="20" required
                        value="{{ admin.degree }}">
              </div>
            </div>
      
              <div class="col-sm-6 col-12">
                <div class="form-group">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control radius-8" id="address" name="address"
                        placeholder="address" style="width: 100%;" maxlength="50" required
                        value="{{ staff.address }}">
                  </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="form-group">
                <label for="city" class="form-label">City</label>
                                            <input type="text" class="form-control radius-8" id="city" name="city"
                                                placeholder="city" style="width: 100%;" maxlength="30" required
                                                value="{{ admin.city }}">
            </div>
          </div>
      
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="stateSelect" class="form-label">State</label>
                <select class="form-select" name="state" aria-label="Default select example">
                    <option value="{{ admin.state }}">{{ admin.state }}</option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
            </div>
          </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label class="form-label">Profile Image</label>
                <input type='file' style="width: 100%;" class="form-control radius-8" id="imageUpload" name="profile_image" accept=".png, .jpg, .jpeg" >
            </div>
          </div>
        
                  </div>
               
              </div>
      
      
              <div class="col-md-6 col-sm-12">
            
                    <div class="subtitle"> Account Details </div>
      
                <div class="row">
      
                <div class="col-sm-6 col-12">
                  <div class="form-group">
                    <label class="form-label">Account Number</label>
                    <input type="number" class="form-control radius-8" id="account_number"
                        name="account_number" placeholder="Account Number"
                        style="width: 100%;"
                        oninput="if(this.value.length > 16) this.value = this.value.slice(0, 16);"
                        required value="{{ admin.account_number }}">
                    </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="form-group">
                    <label class="form-label">Add UPI</label>
                    <input type="text" class="form-control radius-8" id="upi_id"
                        name="upi_id" placeholder="Enter UPI ID" style="width: 100%;"
                        maxlength="50" required value="{{ admin.upi_id }}">
                    </div>
              </div>
      
              <div class="col-sm-6 col-12">
                <div class="form-group">
                    <label class="form-label">Bank Name</label>
                    <input type="text" class="form-control radius-8" id="bank_name"
                        name="bank_name" placeholder="Bank Name" style="width: 100%;"
                        maxlength="50" required value="{{ admin.bank_name }}">
                  </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="form-group">
                <label class="form-label">IFSC Code</label>
                <input type="text" class="form-control radius-8" id="ifsc_code"
                    name="ifsc_code" placeholder="IFSC Code" style="width: 100%;"
                    maxlength="20" required value="{{ admin.ifsc_code }}">
                  </div>
            </div>
      
            <div class="col-sm-6 col-12">
              <div class="form-group">
                <label for="pincode" class="form-label">Pincode</label>
                <input type="number" class="form-control radius-8" id="pincode"
                    name="pincode" placeholder="pincode" style="width: 100%;"
                    oninput="if(this.value.length > 6) this.value = this.value.slice(0, 6);"
                    min="99999" max="999999" required value="{{ admin.pincode }}">
                </div>
          </div>
      
      
          <div class="col-sm-6 col-12">
            <div class="form-group">
                <label class="form-label">Salary</label>
                <input type="number" class="form-control radius-8" id="salary" value="{{ admin.salary }}" name="salary" placeholder="Salary" style="width: 100%;" >
          </div>
        </div>
        <div class="col-12">
        <label class="form-label">Address</label>
        <textarea class="form-control"
            name="address" id="address" rows="3" required>{{ admin.address }}</textarea>
        </div>
      
                  </div>
                
           
            </div>
            </div>
      
      
            <div class="d-flex align-items-center justify-content-end gap-3">
                <input type="submit" class="btn text-md px-56 py-12 radius-8">
            </div>
      
          </form>
      
        </div>
      </div>








    </div>
</div>

{% endblock %}
