anyio==4.12.1
appdirs==1.4.4
asgiref==3.10.0
attrs==25.4.0
autoslug==1.0.6
certifi==2025.10.5
channels==4.3.1
channels_redis==4.3.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
comtypes==1.4.13
DateTime==5.5
distlib==0.4.0
Django==5.2.7
django-autoslug==1.9.9
django-ckeditor-5==0.2.18
django-cors-headers==4.9.0
django-debug-toolbar==6.1.0
django-filter==25.2
django-redis==6.0.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
drf-yasg==1.21.11
et_xmlfile==2.0.0
filelock==3.20.0
fs==2.4.16
h11==0.16.0
httptools==0.7.1
idna==3.11
imutils==0.5.4
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
Markdown==3.10
msgpack==1.1.2
numpy==2.2.6
opencv-python==4.12.0.88
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
path==17.1.1
pathlib==1.0.1
pillow==12.0.0
pipenv==2025.0.4
platformdirs==4.5.0
PyJWT==2.10.1
# pypiwin32==223
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pyttsx3==2.99
pytz==2025.2
# pywin32==311
PyYAML==6.0.3
redis==7.1.0
referencing==0.37.0
requests==2.32.5
rest-framework-simplejwt==0.0.2
rpds-py==0.28.0
setuptools==79.0.1
shortuid==0.0.4
shortuuid==1.0.13
six==1.17.0
slug==2.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
unicode-slugify==0.1.5
Unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.40.0
virtualenv==20.35.3
watchfiles==1.1.1
websockets==16.0
zope.interface==8.0.1
