{% extends 'admin_dashboard/team_leader/base.html' %}
{% block content %}
{% load static %}
    
    <div class="dashboard-main-body">
      <div class="dash-title">Lost</div>

      <div class="card h-100 p-0 radius-12">
          <div class="card-header border-bottom bg-base py-16 px-24 px-sm-16 py-sm-10 d-flex align-items-center flex-wrap gap-3 justify-content-between">
              <div class="d-flex align-items-center flex-wrap col-sm-auto col-12">
                <form class="navbar-search search_bar">
                  <input type="text" id="searchInput" class="bg-base h-40-px w-100" name="search" placeholder="Search"
                    onkeyup="searchTable()">
                  <iconify-icon icon="ion:search-outline" class="icon"></iconify-icon>
                </form>
                  {% comment %} <form class="navbar-search">
                      <input type="text" class="bg-base h-40-px w-100" name="search" placeholder="Search">
                      <iconify-icon icon="ion:search-outline" class="icon"></iconify-icon>
                  </form> {% endcomment %}
              </div>
          </div>
          <div class="card-body p-24">
              <div class="table-responsive scroll-sm">
                  <table class="table bordered-table sm-table mb-0" >
                    <thead>
                      <tr>    
                        <th scope="col">Name</th>
                        <th scope="col">Call</th>
                        <th scope="col">Whatsapp</th>
                        <!-- <th scope="col">Send</th> -->
                        <!-- <th scope="col">Status</th> -->
                        <th>Change Status</th>
                        
                      </tr>
                    </thead>
                    <tbody id="myTable">
                      {% for user in lead_maybe %}
                          <tr>
                              <td>{{ user.name }}</td>
                              <td>
                                <a href="tel:{{ user.call }}" class="log-activity" 
                                data-id="{{ request.user.email }}" 
                                data-activity="Called user">
                                    <i class="bi bi-telephone-fill" style="font-size:1.2em;"></i>
                                </a>
                            </td>
                            <td>
                                <a href="https://wa.me/{{ user.call }}?text={{ whatsapp_marketing.message }}%20{{ whatsapp_marketing.url }}%20{{ user.name }}" data-id="{{ request.user.email }}" 
                                class="log-activity"
                                data-activity="Whatsapp user" target="_blank">
                                    <i class="fab fa-whatsapp menu-icon " style="font-size:1.5em;"></i>
                                </a>
                            </td> 
                          <!-- <td>
                            <button class="btn btn-toggle" onclick="toggleSendStatus({{ user.id }}, this)">
                                {% if user.send == 'True' %}
                                <span class="badge bg-success">Send</span>
                                {% else %}
                                <span class="badge bg-danger">Don't Send</span>
                                {% endif %}
                            </button>
                          </td>  -->

              <!-- <td>{{user.status}}</td> -->
              <!-- <td>
                                <form action="{% url 'status_update' %}" method="POST">
                                    {% csrf_token %}
                                <input type="hidden" name="leads_id" value="{{ user.id }}">
                                <div class="dropdown">
                                    
                                    <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">{{ user.status }}&nbsp;</button>
                                    <div class="dropdown-menu">
                                      <button class="dropdown-item" type="submit" name="new_status" value="Leads">Leads</button>
                                      <button class="dropdown-item" type="submit" name="new_status" value="Intrested">Intrested</button>
                                      <button class="dropdown-item" type="submit" name="new_status" value="Not Interested">Not Interested</button>
                                      <button class="dropdown-item" type="submit" name="new_status" value="Other Location">Other Location</button>
                                      <button class="dropdown-item" type="submit" name="new_status" value="Not Picked">Not Picked</button>
                                      <button class="dropdown-item" type="submit" name="new_status" value="Lost">Lost</button>
                                      <button class="dropdown-item" type="submit" name="new_status" value="Visit">Visit</button>

                                    </div>
                                </div>
                            </form>
                            </td> -->
              <td>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                  data-bs-target="#basicModal1" data-id="{{ user.id }}">
                  {{ user.status }} <i class="bi bi-arrow-down-short"></i>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade marketingpopup" id="basicModal1" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="leadUpdateForm">
      <div class="modal-content">
        <div class="modal-header">

          <h6 class="modal-title" id="exampleModalLabel1">Marketing</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col mb-3">
              <!-- <label for="form-id" class="form-label">Id</label> -->
              <input type="text" id="form-id" class="form-control" readonly hidden />
            </div>
          </div>
          <div class="row g-2">
            <div class="col-12 mb-3">
              <label for="status" class="form-label">Status</label>
              <select id="status" class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="Leads">Leads</option>
                <option value="Intrested">Intrested</option>
                <option value="Not Interested">Not Interested</option>
                <option value="Other Location">Other Location</option>
                <option value="Not Picked">Not Picked</option>
                <option value="Lost">Lost</option>
                <option value="Visit">Visit</option>
              </select>
            </div>
            <div class="col-12">
              <label for="dobBasic" class="form-label">Message</label>
              <textarea name="message" id="dobBasic" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-outline-secondary" id="saveChangesBtn">Update Status</button>
        </div>
      </div>
    </form>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

  document.addEventListener("DOMContentLoaded", function () {
    const logActivityElements = document.querySelectorAll('.log-activity');

    logActivityElements.forEach(element => {
      element.addEventListener('click', function (event) {
        event.preventDefault();

        const userId = this.getAttribute('data-id');
        const activityType = this.getAttribute('data-activity');
        const href = this.href;

        fetch("{% url 'log_activity_add' %}", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
          },
          body: JSON.stringify({
            user_id: userId,
            activity_type: activityType
          }),
        })
          .then(response => response.json())
          .then(data => {
            console.log('Activity logged:', data);
            window.open(href, '_blank');
          })
          .catch(error => console.error('Error logging activity:', error));
      });
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    $('#basicModal1').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var id = button.data('id');

      $.ajax({
        url: '/lead_user/' + id,
        method: 'GET',
        success: function (data) {
          $('#form-id').val(data.id);
          $('#dobBasic').val(data.message);
          $('select.form-select').val(data.status);
        },
        error: function () {
          alert('Failed to retrieve data.');
        }
      });
    });
  });

  $(document).ready(function () {
    $('#saveChangesBtn').on('click', function (e) {
      e.preventDefault();

      console.log("Button clicked");

      var id = $('#form-id').val();
      var status = $('#status').val();
      var message = $('#dobBasic').val();

      $.ajax({
        url: '/lead_user/update/' + id + '/',
        method: 'POST',
        data: {
          'status': status,
          'message': message,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function (response) {
          alert('Changes saved successfully.');
          location.reload();
        },
        error: function () {
          alert('Failed to save changes.');
        }
      });
    });
  });

  function searchTable() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those that don't match the search query
    for (i = 0; i < tr.length; i++) {
      var rowShouldBeVisible = false;

      // Loop through all cells of current row
      for (j = 0; j < tr[i].cells.length; j++) {
        td = tr[i].cells[j];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            rowShouldBeVisible = true;
            break; // If a match is found in this row, no need to check further
          }
        }
      }
      if (rowShouldBeVisible) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }

  }

</script>

<script>
  function toggleSendStatus(userId, button) {
    var currentStatus = button.querySelector('.badge').textContent.trim() === 'Send';
    var newSendStatus = !currentStatus;

    fetch('{% url "update_send_status" %}', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token for security
      },
      body: JSON.stringify({
        id: userId,
        send: newSendStatus
      })
    })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          // Update button text based on the new status
          if (data.new_send_status) {
            button.innerHTML = '<span class="badge bg-success">Send</span>';
          } else {
            button.innerHTML = '<span class="badge bg-danger">Don\'t Send</span>';
          }
        } else {
          alert('Failed to update status: ' + data.message);
        }
      })
      .catch(error => console.error('Error:', error));
  }
</script>

{% endblock %}